/* your styles go here */

.pointer {
  cursor: pointer !important;
}

.software-section img {
  padding: 10px;
  max-width: 80px;
  max-height: 80px;
}

ul {
  list-style: none;
  /* Remove default bullets */
}

ul.content-list li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--bs-primary);
  /* Change the color */
  font-weight: bold;
  font-size: 1.15rem;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1rem;
  /* Also needed for space (tweak if needed) */
  margin-left: -1rem;
  /* Also needed for space (tweak if needed) */
}

.about-me-svg {
  min-width: 1rem;
  max-width: 10rem;
  padding-right: 0.5rem;
  vertical-align: text-top;
}

.interests-svg {
  min-width: 1rem;
  max-width: 6rem;
  vertical-align: bottom;
}

.education-svg {
  max-height: 0.875rem;
  padding-right: 0.5rem;
  vertical-align: text-top;
}

.experience-svg {
  max-height: 1.75rem;
  padding-bottom: 0.25rem;
  vertical-align: text-top;
}

.hide {
  display: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.anchor {
  display: block;
  height: 95px !important; /* this is the height of your header */
  margin-top: -95px !important; /* this is again negative value of the height of your header */
  visibility: hidden;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.bg-strava {
  --bs-bg-opacity: 1;

  background-color: rgba(252, 82, 0, var(--bs-bg-opacity)) !important;
}

.bg-sspr {
  --bs-bg-opacity: 1;
  background-color: rgba(12, 114, 38, var(--bs-bg-opacity)) !important;
}

.bg-strava:hover,
.bg-sspr:hover {
  transition-timing-function: ease-in;
  transition: transform 0.3s;
  transform: scale(1.006, 1.006);
}

@media (min-width: 991.98px) {
  .bg-strava {
    --bs-bg-opacity: 1;
    background-image: url("/img/site-banner.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-color: rgba(252, 82, 0, var(--bs-bg-opacity)) !important;
  }
  .bg-sspr {
    --bs-bg-opacity: 1;
    background-image: url("/img/sspr-banner.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-color: rgba(12, 114, 38, var(--bs-bg-opacity)) !important;
  }
}

.bg-sspr p {
  background-color: rgba(12, 114, 38, 0.25);
}

.bg-strava p {
  background-color: rgba(252, 82, 0, 0.75);
}

ul.case-study {
  list-style-position: inside;
}

ul.case-study li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c8";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  font-size: 1.2rem;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1.4rem;
  /* Also needed for space (tweak if needed) */
  margin-left: 0rem;
  /* Also needed for space (tweak if needed) */
  padding-right: 1.4rem;
}

li.screens-bullet:before {
  color: rgb(246, 210, 87);
}

li.button-bullet:before {
  color: rgb(136, 177, 75);
}

li.route-bullet::before {
  color: rgb(85, 135, 162);
}

li.rotate-bullet:before {
  color: rgb(239, 206, 197);
}

ul.case-study {
  padding-left: 0rem;
}

ul.case-study li {
  font-weight: bold;
}

.thumb {
  cursor: pointer;
}

.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.strava-header {
  color: var(--bs-strava);
  margin-bottom: 0px;
}

.strava-subheader {
  color: var(--bs-strava-rust);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-figure-item {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

figure > img {
  width: 150px;
}

figcaption {
  color: #6c757d !important;
  font-size: 0.85rem;
  padding: 5px;
  text-align: center;
}

#map-remaining {
  position: relative;
  width: 340px;
  height: 715px;
}

.hover-image:hover > strong {
  color: var(--bs-strava-blue) !important;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(0.85);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

.hover-image-spot {
  border: 4px solid var(--bs-green);
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  animation: pulse 0.85s ease-in-out infinite;
}

.hover-image-spot-old {
  border: 4px solid var(--bs-red);
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  animation: pulse 0.85s ease-in-out infinite;
}

.hover-image-spot:hover,
.hover-image-spot-old:hover {
  opacity: 1 !important;
}

.hover-indicator:hover {
  border: 4px solid var(--bs-green) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: pulse 0.85s ease-in-out infinite;
}

.strava-image {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 991.98px) {
  .anchor {
    display: block;
    height: 91px !important; /* this is the height of your header */
    margin-top: -91px !important; /* this is again negative value of the height of your header */
    visibility: hidden;
  }
  .strava-image {
    position: relative;
  }
}

.badge-strava {
  background-color: var(--bs-strava);
  font-weight: 700;
  text-transform: uppercase;
}

.bg-strava-demo {
  background-color: var(--bs-gray-500);
}

.carousel-control-prev,
.carousel-control-next {
  width: 7%;
  opacity: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: var(--bs-strava);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: var(--bs-strava);
}

.strava-comparison-image {
  display: inline-block;
  position: relative;
}

.comparison-list:before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: bold;
  font-size: 1rem;
}
.comparison-list:after {
  font-family: "Font Awesome 5 Free";
  content: "\f100";
  font-weight: bold;
  font-size: 1rem;
}

.comparison-list:before,
.comparison-list:after {
  color: var(--bs-strava);
  position: relative;
  margin: 5px;
  top: 0em;
  left: 0em;
  opacity: 0;
}

.comparison-list:hover:before,
.comparison-list:hover:after {
  opacity: 1;
}

#notAvailable {
  display: none;
}

@media (max-width: 991px) {
  #carouselExampleIndicators {
    display: none;
  }
  #notAvailable {
    display: block;
  }
}

.gray-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  height: 715px;
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  opacity: 0;

  transition: all 0.4s;
}

.gray-overlay.change {
  opacity: 1;

  transition: all 0.4s;
}

.text-gray-overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s;
}

.text-gray-overlay.change {
  opacity: 20%;
  /*filter: blur(2px);*/
  transition: all 0.4s;
}

.strava-text-opacity {
  background-color: rgba(0, 0, 0, 0.5);
}

.accordion .fa {
  margin-right: 0.5rem;
}
.accordion button,
.accordion button:hover,
.accordion button:focus {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.bg-sspr,
.bg-strava {
  min-height: 220px;
}
