.w3-border-highway-green,
.w3-hover-border-highway-green:hover {
  border-color: #004d33 !important;
}

.w3-hover-text-highway-green:hover,
.w3-text-highway-green {
  color: #004d33 !important;
}

.jumble_container {
  display: inline-block;
  position: relative;
  /* for absolute child element */
  /* to take the width of the input */
}

.jumble_clue {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}

.inputs {
  z-index: 1 !important;
  width: 48px;
  height: 48px;
  margin: 10px 0px;
  border: 1px solid #000000;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
}

.space {
  margin-right: 2em !important;
}

.solution-url-class {
  font-size: 36px;
}

.jumbleLetter {
  border: 2px solid #004d33 !important;
  border-radius: 50%;
}

@media only screen and (max-width : 1160px) {
  .inputs {
    z-index: 1 !important;
    width: 36px;
    height: 36px;
    margin: 10px 5px;
    border: 1px solid #000000;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
  }
}

.jumbleLetterAnswer {
  width: 64px;
  height: 64px;
  border: 2px solid #004d33 !important;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
}

@media only screen and (max-width : 1025px) {
  .inputs {
    z-index: 1 !important;
    width: 36px;
    height: 36px;
    margin: 7px 0px;
    border: 1px solid #000000;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
  }

  .solution-url-class {
    font-size: 30px;
  }
}

.show {
  display: inline;
}

.hide {
  display: none;
}