body,
html {
  height: 100%;
}

.bgimg {
  min-height: 100%;
  background-image: url('/img/fornataliabg.jpg');
  background-position: center;
  background-size: cover;
}

.frame {
  position: relative;
}

.frame iframe {
  display: block;
  position: relative;
  z-index: 1;
}

.frame::before {
  content: '';
  position: absolute;
  z-index: 2;
  box-shadow: 5px 3px 30px #888;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}