{% assign card = site.data.profile.card %}
<aside class="holder" aria-label="At a glance">
  <div class="holder__top">
    <span class="holder__heading">At a Glance</span>
    <span class="holder__number">{{ card.number }}</span>
  </div>
  <div class="holder__main">
    <img class="holder__photo" src="/assets/img/portrait.jpg" alt="Steven M. Erickson" width="150" height="190">
    <dl class="holder__fields">
      <div class="holder__field holder__field--wide"><dt>Name</dt><dd class="holder__name">{{ site.title }}</dd></div>
      {% for f in card.fields %}<div class="holder__field"><dt>{{ f.label }}</dt><dd>{{ f.value }}</dd></div>{% endfor %}
    </dl>
  </div>
  <div class="holder__badges">
    {% for b in card.badges %}{% include holder-badge.html badge=b %}{% endfor %}
  </div>
</aside>
