* {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("herc.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label, textarea {
  display: block;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 5px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: #0c4675;
  line-height: 1.25;
  margin-bottom: 1em;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  color: #0c4675;
  line-height: 1.25;
  margin-bottom: 1em;
}

text {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

svg {
  margin-right: 6px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #AF1E2D;
  color: #fff;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.calendar {
  display: inline;
  cursor: pointer;
}

.button {
  background-color: #41024e;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.main {
  padding: 10px;
  width: 100%;
}

.main-header {
  text-align: center;
  margin-bottom: 20px;
}

.main-input-comment {
  margin-bottom: 20px;
}

.main-comment-area {
  width: 95%;
  border: #ced4da 1px solid;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.main-analyze-button {
  width: 300px;
  padding: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  border-radius: 0px;
  color: white;
  text-align: center;
  font-size: 16px;
  outline: none;
}

.main-analyze-button::-moz-focus-inner {
  border: 0;
}

.main-analyze-button:hover {
  background-color: #0069d9;
  border-color: #0069d9;
  cursor: pointer;
}

.main-result-block {
  text-align: center;
}

.box {
  display: flex;
  align-items: center;
  width: 100%;
}

.year {
  font-weight: bold;
  color: rgb(101, 0, 15);
  background-color: #fff026;
}

.teamlogos {
  height: 25px;
  width: 25px;
}

.v {
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(75, 75, 75);
  font-weight: 800;
}

.hide {
  display: none;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: none;
  width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#standingsData th, #standingsData td {
  text-align: center;
}

#standingsData th:first-child, #standingsData td:first-child {
  text-align: left;
}

.win-home-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #218bc7;
  margin-right: 3px;
}

.win-away-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  color: #218bc7;
  margin-left: 3px;
}

.hide-icon::before {
  color: #ffffff;
}

.fixtureTableRowDate {
  border-top: 2px solid #c7c3c3;
  border-bottom: 1px solid #e4e4e4;
}

.fixtureTableRowFixture {
  border-top: 1px solid #e4e4e4;
  border-bottom: 2px solid #c7c3c3;
}

/*
.fixtureTable th, td {
  border: 0 !important;
}
*/
.fixtureTable {
  border: 0;
}

.datevenue {
  text-transform: uppercase;
  font-size: .8em;
  color: #7a7a7a;
  text-align: center;
  background-color: #f7f7f7
}

.homeimg {
  height: 27px;
  width: 27px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.awayimg {
  height: 27px;
  width: 27px;
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.fixturebox {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.homebox {
  display: flex;
  flex: 33%;
  align-items: center;
  text-align: left;
  width: 100%;
}

.homecontent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.scorebox {
  display: flex;
  flex: 33%;
  align-items: center;
  text-align: center;
  width: 100%;
}

.scorecontent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.awaybox {
  display: flex;
  flex: 33%;
  align-items: center;
  text-align: right;
  width: 100%;
}

.awaycontent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.resetbtn {
  background-color: #8e0b0b;
  color: white;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  min-width: 160px;
  margin-left: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #093b8f;
  color: white;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  min-width: 160px;
  text-align: left;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #0d47a8;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 7px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.filterTeams {
  height: 40px;
  width: 40px;
  display: inline;
  cursor: pointer;
  margin-right: 30px;
  filter: saturate(10%);
}

.filterTeams:hover {
  transition: all 0.3s ease;
  transform: scale(1.35, 1.35) translateZ(0);
  filter: saturate(100%);
}

.filterTeams-active {
  filter: saturate(100%);
  transform: scale(1.35, 1.35) translateZ(0);
}

svg:hover rect.changeclr {
  fill: rgb(0, 63, 135);
  transition: all 0.3s ease;
}

svg:hover {
  transition: all 0.3s ease;
  transform: scale(1.1, 1.1) translateZ(0);
}

.filterMonth-active {
  transform: scale(1.1, 1.1) translateZ(0);
}

.monthbar {
  display: block;
  width: 40px;
  height: 4px;
  background-color: rgb(0, 63, 135);
}

.toggleMonth {
  transform: scale(1.1, 1.1) translateZ(0);
}

.toggleMonthHeader {
  fill: rgb(0, 63, 135);
}

.fg-row {
  display: block;
  margin-bottom: 0.5em;
}

.fg-cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  border-radius: 3px;
}

.fg-win {
  background-color: #088f39;
}

.fg-loss {
  background-color: #b63737;
}

.fg-draw {
  background-color: #ba850c;
}

.fg-match {
  background-color: #a2a2a2;
}

.fg-content {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  text-align: center;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.fg-team {
  display: inline-block;
  width: 160px;
  margin-right: 10px;
}

.gameInfo .gameInfoText {
  visibility: hidden;
  font-size: 10px;
  width: 150px;
  background-color: #a2a2a2;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.gameInfo:hover .gameInfoText {
  visibility: visible;
}